nav {
  background-color: #007bff;
  margin: -9px;
  padding: 15px;
  border-bottom: 3px solid #ededed;
}
.nav {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.6s;
}

.nav:hover {
  color: #cce5ff;
  background-color: #3399ff;
  border-radius: 4px;
}

body {
  background-color: #f0f2f5;
}

.cards {
  margin: 20px;
  width: 150px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #f8f9fa;
  transition: 0.6s;
  height: 200px;
  padding: 20px;
  display: inline-block;
}

p {
  color: #1a1a1a;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.button {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  transition: 0.6s;
}

.button:hover {
  background-color: darkblue;
}

.button-container {
  width: 92px;
  margin: 5px 26px;
}

.cards:hover {
  background-color: #e8f3ff;
  border-color: #007bff;
  padding: 30px;
}
